.home-body {
  background-color: #0747A6;
  width: 100%;
}

.home-spacer {
  height: 73px;
}

.home-content {
  margin-top: 100px;
  margin-left: 100px;
  color: white;
}

#home-content-title {
  font-weight:600;
  font-size: 48px;
}

.home-content-desc {
  font-weight: 600;
  font-size: medium;
}

.a-btn {
  text-decoration: none;
}

.submit-button {
  background-color: #E0F4FF;
  border-radius: 5px;
  height: 50px;
  width: 170px;
  font-weight: 800;
  color: #00005a;
  text-align: center;
}

.submit-text {
  padding-top: 15px;
}

.home-tasks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 50px;
}

.home-tasks-title {
  margin-left: 45px;
  margin-top: 75px;
  margin-bottom: 25px;
}

.task-block:nth-child(n+6) {
  display: none;
}

.view-more-link {
  text-decoration: none;
  color: black;
  position: absolute;
  right: 4%;
}

@media screen and (min-width: 601px) {
  .home-content {
    width: 500px;
  }
}

@media screen and (max-width: 601px) {
  .home-content {
    margin-left: 25px;
  }
  .task-block:nth-child(n+2) {
    display: none;
  }
}
