body {
  background-color: #0747A6;
}

.login-wrapper {
  width: 425px;
  min-width: 425px;
  margin: auto;
  text-align: center;
  margin-top: 55px;
  padding-top: 20px;
  background-color: white !important;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  font-size: 38px;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.bold-text {
  font-weight: 700;
}

.login-label {
  display: block;
  margin-bottom: 8px;
}

.login-input {
  width: 320px;
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid lightgrey;
}

.login-submit {
  background-color: #0747A6;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  width: 320px;
  height: 40px;
  color: white;
  margin-bottom: 25px;
}

.grey-text {
  color: rgb(94, 108, 132);
}

.google-button {
  width: 320px;
  height: 40px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgb(193, 199, 208);
  margin-bottom: 25px;
}

.google-span {
  display: flex;
  justify-content: center;
}

.google-img {
  width: 26px;
  padding-top: 3px;
  margin: auto;
  margin-right: 10px;
}

.g-text {
  margin: auto;
  margin-left: 0;
  padding-top: 5px;
  font-weight: 900;
  font-size: medium;
  color: #414141;
}

a {
  text-decoration: none;
}
.login-create {
  margin-bottom: 55px;
}
