body {
  background-color: aliceblue;
}

.home-spacer {
  height: 73px;
}

.tasks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
}

.tasks-explore-head {
  margin-left: 165px;
  margin-top: 25px;
}