.full-task-claim-button, .approve-task-button {
  background-color: #0747A6;
  width: 145px;
  text-align: center;
  height: 40px;
  margin-top: 30px;
  margin-left: 30px;
  color: white;
  font-weight: 700;
  border-radius: 4px;
  z-index: 3;
  border: none;
  font-size: medium;
}

.edit-task-button {
  background-color: aliceblue;
  width: 145px;
  text-align: center;
  height: 27px;
  margin-top: 30px;
  margin-left: 30px;
  padding-top: 7px;
  color: rgb(52, 52, 52);
  border: solid 3px rgb(52, 52, 52);;
  font-weight: 700;
  border-radius: 4px;
  z-index: 3;
}

.edit-task-button:hover {
  border: solid 3px rgb(52, 52, 52);
  background-color: rgb(52, 52, 52);
  color: aliceblue;
  cursor: pointer;
}

.full-task-claim-button:hover, .approve-task-button:hover {
  background-color: #003688;
  cursor: pointer;
}

.email {
  margin: 0;
  padding: 0;
  font-weight: 700 !important;
}

.approve-task-button {
  font-size: small;
}

.full-task-block {
  background-color: white;
  width: 74%;
  min-width: 575px;
  margin: auto;
  margin-top: 45px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
}

.full-task-head {
  display: flex;
  flex-direction: row;
  margin-left: 24px;
}

.full-task-title {
  padding-top: 25px;
}

.username-cont {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.username {
  font-weight: normal;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  color: black;
}

.description-container, .username-cont, .task-price-container, .task-timestamp-container {
  margin-left: 25px;
}

.task-price-container {
  font-weight: 500;
  font-size: large;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 0;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.task-timestamp-container {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.description-container {
  width: 45%;
}

.description-title {
  font-weight: 700;
}

.approve-container {
  width: 475px;
  min-width: 475px;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 25px;
  background-color: white !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  position: fixed;
  z-index: 13;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cancel-approve {
  margin-left: 10px;
}

.approve-confirm-text {
  width: 400px;
  min-width: 400px;
  margin: auto;
}

.approve-task-button-inner {
  margin-left: 0;
  margin-right: 0;
}

.profile-dimmed {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51,51,51,0.7);
  z-index: 9;
}
