body {
  background-color: aliceblue !important;
}

.tasks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
}

.tasks-explore-head {
  margin-left: 165px;
  margin-top: 25px;
}
