.add-task-wrapper {
  width: 425px;
  min-width: 425px;
  margin: auto;
  text-align: center;
  margin-top: 55px;
  padding-top: 20px;
  background-color: white !important;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  position: fixed;
  z-index: 13;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.x-button {
  border: none;
  background-color: #0747A6;
  color: white;
  font-weight: 800;
  font-size: larger;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 8px;
  margin-top: 8px;
  padding: 4.5px 7.5px 3.5px;
}

.button-icon {
  padding: 0;
  margin: 0;
}

.x-button:hover {
  background-color: #003688;
  cursor: pointer;
}

.add-task-label {
  display: block;
  margin-bottom: 8px;
}

.add-task-input {
  width: 320px;
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid lightgrey;
}

.add-task-submit {
  background-color: #0747A6;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  width: 320px;
  height: 40px;
  color: white;
  margin-bottom: 25px;
}

.add-task-submit:hover {
  background-color: #003688;
  cursor: pointer;
}

.qr-container {
  margin: auto;
}
