.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #E0F4FF;
  color: #00005a;
  z-index: 9;
  box-shadow: 0 2px 7px 0 rgba(25, 12, 62, 0.2);
}


.nav-title-icon {
  margin-right: 10px;
}

.nav-links {
  display: inherit;
}

.logout {
  padding-right: 70px;
}

.nav-logo {
  color: #00005a;
  padding-left: 70px;
  text-align: center;
  margin-top: 15px;
}

.nav-link {
  margin-top: 26px;
  margin-left: 45px;
  color: #00005a;
  font-size: large;
}

.nav-login {
  margin-right: 25px;
  font-weight: 700;
}

.no-style {
  text-decoration: none;
}

.spacer {
  height: 74px;
}

.nav-btn-lgn {
  display: flex;
  margin-left: auto;
}

.nav-exclamation {
  width: 200px;
  min-width: 200px;
  height: 2.9rem;
  background-color: #0747A6;
  color: white;
  margin-right: 70px;
  text-align: center;
  font-weight: 600;
  font-size: large;
  padding-top: 27px;
}

@media screen and (min-width: 980px) {
  .hamburger-button {
    display: none;
  }

  .hamburger-menu-container {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .spacer {
    height: 85px;
  }

  .nav-links {
    display: none;
  }
  .nav-title-icon {
    display: none;
    padding: 0;
    margin: 0;
  }
  .nav-logo {
    padding-left: 25px;
  }
  .nav-exclamation {
    display: none;
  }
  .logout, .nav-link {
    display: none;
  }
  .nav-link {
    font-size: x-large;
    margin-right: 35px;
  }
  .nav-logo {
    font-size: 3em;
  }
  .hamburger-menu-container {
    position: fixed;
    right: 0;
    top: 80px;
    background-color: #E0F4FF;
    z-index: 10;
    width: 200px;
  }
  
  .hamburger-button {
    font-size: xx-large;
    margin-right: 25px;
    margin-top: 22.5px;
  }
  
  .hamburger-button:hover {
    cursor: pointer;
  }
  .hamburger-nav-link {
    margin-left: 20px;
    color: black;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 5px;
  }
  
  .hamburger-logout-container {
    display: flex;
    flex-direction: column;
    padding: none;
    margin: none;
  }
}
