Link {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.task-container {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  padding: 7.5px;
  background-color: white;
  color: black;
  display: inline-block;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.task-claim-button{
  width: 90%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  border-radius: 4px;
  border: none;
  background-color: #0747A6;
  color: white;
  font-weight: 600;
  font-size: large;
}

.task-claim-button:hover {
  background-color: #003688;
  cursor: pointer;
}

.task-header-wrapper {
  display: flex;
  flex-direction: row;
}

.task-header {
  font-weight: 700;
  font-size: large;
  margin-top: 7.5px;
  padding-left: 7.5px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.task-price {
  font-weight: 700;
  font-size: large;
  margin-left: auto;
  padding-right: 7.5px;
  margin-top: 7.5px;
}


.task-description {
  padding-left: 7.5px;
  padding-right: 7.5px;
  height: 140px;
}

.desc-holder {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(1.2em * 5); /* You can adjust this value based on your font size */
  line-height: 1.2em;
}

.task-footer {
  display: flex;
  flex-direction: row;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 7.5px;
  font-weight: 600;
}

.task-timestamp {
  margin-left: auto;
}
